<div class="video-call-overlay">
    @if (callState.isRemoteBusy()) {
        <h1>Nó đang bận</h1>
    } @else if (callState.isDeclined()) {
        <h1>Đã bị từ chối</h1>
    } @else if (callState.callEnded()) {
        <h1>Cuộc gọi đã kết thúc</h1>
    } @else {
        <div
            class="call-container"
            [class.two-people]="isTwoPeople()"
            [class.group-call]="isGroupCall()"
        >
            @for (participant of callState.remoteParticipants(); track participant.participantId) {
                <div class="remote-container">
                    <audio [srcObject]="participant.audioStream" autoplay></audio>

                    @if (participant.hasVideo) {
                        <video
                            class="remote-video"
                            [srcObject]="participant.videoStream"
                            autoplay
                            playsinline
                        ></video>
                    } @else {
                        <div class="avatar-container">
                            <img
                                [src]="participant.participantAvatarUrl"
                                (error)="(avatarUrlDefault)"
                                [alt]="participant.participantName"
                                class="avatar-image"
                            />
                        </div>
                    }

                    <div class="name">{{ participant.participantName }}</div>
                </div>
            }

            <div class="local-container">
                @if (callState.isCameraOn()) {
                    <video
                        class="local-video"
                        [srcObject]="callState.localStream()"
                        autoplay
                        playsinline
                    ></video>
                } @else {
                    <div class="avatar-container">
                        <img
                            [src]="userAvatarUrl()"
                            (error)="(avatarUrlDefault)"
                            alt="Bạn"
                            class="avatar-image"
                        />
                    </div>
                }
                <div class="name">Bạn</div>
            </div>

            <div class="controls">
                <div class="btn" (click)="toggleCamera()">📹</div>
                <div class="btn" (click)="toggleMicrophone()">🎤</div>
                <div class="btn end" (click)="endCall()">📞</div>
            </div>
        </div>
    }
</div>
